<%= stylesheet_link_tag "testimonials" %>

<% content_for :body do %>

    <div class="testimonials">

      <header>
        <h2>Testimonials</h2>

        <p>Nena Brands is proud to sell our products worldwide. We thought to pull out some testimonials from our
          customers
          regarding their
          experiences with our products. If you'd love what they say, please read on.
        </p>
      </header>

      <ul class="testimonials">
        <% @left.each do |person| %>
            <li>
              <div class="content">
                <div class="photo"><%= image_tag "testimonials/photo.jpg" %></div>
                <div class="content-inner">
            <span class="name">
              <%= person.name %>
              <%= if !person.age.nil?
                    ', ' + person.age.to_s
                  end %>
            </span>
                  <span class="location"><%= person.address %></span>
                  <span class="info"><%= person.occupation %></span>
                  <blockquote><%= person.testimonial.html_safe%></blockquote>
                </div>
              </div>
              <div class="notch"></div>
            </li>
        <% end %>
      </ul>

      <ul class="testimonials">

        <% @right.each do |person| %>
            <li>
              <div class="content">
                <div class="photo"><%= image_tag "testimonials/photo.jpg" %></div>
                <div class="content-inner">
            <span class="name">
              <%= person.name %>
              <%= if !person.age.nil?
                    ', ' + person.age.to_s
                  end %>
            </span>
                  <span class="location"><%= person.address %></span>
                  <span class="info"><%= person.occupation %></span>
                  <blockquote><%= person.testimonial.html_safe %></blockquote>
                </div>
              </div>
              <div class="notch"></div>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= render '/refinery/content_page' %>
