<% content_for :body_content_title do %>
  <%= @testimonial.name %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Name</h1>
    <p>
      <%=raw @testimonial.name %>
    </p>
  </section>
  <section>
    <h1>Age</h1>
    <p>
      <%=raw @testimonial.age %>
    </p>
  </section>
  <section>
    <h1>Photo</h1>
    <p>
      <%= image_fu @testimonial.photo, nil %>
    </p>
  </section>
  <section>
    <h1>Address</h1>
    <p>
      <%=raw @testimonial.address %>
    </p>
  </section>
  <section>
    <h1>Occupation</h1>
    <p>
      <%=raw @testimonial.occupation %>
    </p>
  </section>
  <section>
    <h1>Hobbies</h1>
    <p>
      <%=raw @testimonial.hobbies %>
    </p>
  </section>
  <section>
    <h1>Testimonial</h1>
    <p>
      <%=raw @testimonial.testimonial %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="testimonials">
      <% @testimonials.each do |testimonial| %>
        <li>
          <%= link_to testimonial.name, refinery.testimonials_testimonial_path(testimonial) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
