<%= form_for [refinery, :testimonials_admin, @testimonial] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @testimonial,
              :include_object_name => true %>

  
  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest'  -%>

  </div>
  
  <div class='field'>
    <%= f.label :age -%>
    <%= f.number_field :age  -%>

  </div>
  
  <div class='field'>
    <%= f.label :photo -%>
    <%= render '/refinery/admin/image_picker',
               :f => f,
               :field => :photo_id,
               :image => @testimonial.photo,
               :toggle_image_display => false %>

  </div>
  
  <div class='field'>
    <%= f.label :address -%>
    <%= f.text_field :address  -%>

  </div>
  
  <div class='field'>
    <%= f.label :occupation -%>
    <%= f.text_field :occupation  -%>

  </div>
  
  <div class='field'>
    <%= f.label :hobbies -%>
    <%= f.text_field :hobbies  -%>

  </div>
  
  <div class='field'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>
        <% [:testimonial].each_with_index do |part, part_index| %>
          <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
            <%= link_to t("#{part}", :scope => "activerecord.attributes.refinery/testimonials/testimonial", :default => part.to_s.titleize), "##{part}" %>
          </li>
        <% end %>
      </ul>
      <div id='page_part_editors'>
        <% [:testimonial].each do |part| %>
          <div class='page_part' id='<%= part %>'>
            <%= f.text_area part, :rows => 20, :class => 'wymeditor widest' -%>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  
  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.testimonials.admin.testimonials.testimonial'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @testimonial.name) %>
<% end -%>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end %>
